{% extends 'base.html' %}
{% load static %}

{% block title %}FoodCham{% endblock %}

{% block body-content %}
    <section class="content-header" style="margin-top: 4em;">
        <div>
            <div class="widget-box">
                <div class="widget-body">
                    <div class="widget-main">
                        <div class="container-fluid">
                            <div class="container-fluid">
                                <div class="row">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script>
    </script>
{% endblock %}
