{% extends 'base.html

{% block title %}FoodCham{% endblock %}

{% block body-content %}

    <section class="content center" style="margin-top: 50px; background-color:white;">
        <img src="assets/img/searchhere.png" class="pull-left img-responsive" alt="Search Here"
             style="margin:42px 0;height:55px;width:263px;margin-right:-270px;">
        <img src="assets/img/error/error-01.jpg" class="img-responsive" style="display:inline-block;"
             alt="No Internet connection">
        <h1 class="text-primary" style="font-size:50px;position:initial;">Your taste seems to be really <br>different.
        </h1>
    </section>
{% endblock %}
