<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <style>
        .titanic-heart path{
            fill:red;
            stroke:red;
        }
        .titanic-heart{
            width: 30px;
            height: 30px;
        }
    </style>
    <script src="js/titanic.js"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/4.5.9/bodymovin.min.js"></script>

</head>
<body>
    
    <div class="titanic titanic-heart"></div>
    
<script>
var titanic = new Titanic({
    hover:false,
    click: true
  })
    
</script>    
</body>
</html>